@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  padding: 5rem;
}

#header-param {
  color: #803500;
}

.params {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#menuParam {
  display: flex;
  gap: 2em;
}

.header-param:hover {
  cursor: pointer;
  color: #803500;
}

.nav {
  border-bottom: 0.5px solid #803500;
}

.nav-link {
  color: #803500;
  border: none;
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  transition: color 0.3s ease;
  padding: 10px 15px;
  padding-bottom: 3em;
}

.nav-link:hover {
  color: #ff6700;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.nav-link.active {
  color: #ff6700;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

.custom-login-btn {
  background-color: #E78F81;
  border-color: #E78F81;
  color: #e9e9e9;
}

.custom-register-btn {
  background-color: #803500;
  border-color: #803500;
  color: #e9e9e9;
}

.custom-login-btn:hover,
.custom-login-btn:focus,
.custom-login-btn:active {
  background-color: #e87d6c;
  border-color: #e87d6c;
}

.custom-register-btn:hover,
.custom-register-btn:focus,
.custom-register-btn:active {
  background-color: #5e2400;
  border-color: #5e2400;
}

.buttons-login {
  display: flex;
  gap: 2em;
}

.chosen-books {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3em;
  margin: 0;
  margin-top: 1.5em;
  margin-right: 2em;
}

.chosen-books:hover {
  cursor: pointer;
}

button {
  font-size: 14px;
  font-weight: 600;
  max-height: 3em;
  width: 7em;
  margin-top: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: #f3ebcc;
  color: #331500;
  font-family: "Mulish", sans-serif;
  padding: 2em;
}

.bookstore-name {
  align-self: center;
}

.bookstore-name h1 {
  margin: 0;
}

.bookstore-name p {
  text-transform: uppercase;
  margin: 0;
}

/*SLIDER*/
.welcomePage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2em;
}

.swiper {
  width: 100%;
  height: 100%;
}

.book-item {
  text-align: center;
  transition: transform 0.3s ease;
  padding: 10px;
}

.book-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-width: 30%;
  transition: transform 0.3s ease;
}

.book-item h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

.book-item p {
  font-size: 0.9rem;
  color: #777;
}

.swiper-slide-active .book-item {
  transform: scale(1.1);
}

.swiper-slide-next .book-item,
.swiper-slide-prev .book-item {
  transform: scale(0.9);
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.swiperBooks {
  max-width: 40%;
  text-align: center;
}

.swiperBooks h2 {
  margin-bottom: 1em;
}

.book-list {
  margin: 2em;
}

.books-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.books-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  outline: none;
  transition: border-color 0.3s ease;
  height: 2em;
  margin: 0em;
  margin-top: 0.2em;
  padding-left: 0.2em;
  padding: 1em;
}

.books-input-container button {
  background-color: #803500;
  border: 2px solid #803500;
  color: white;
  border-radius: 0.5em;
  margin-bottom: 0.8em;
  padding: 0.3em;
}

.books-input:focus + button {
  border: 2px solid #5e2400;
  background-color: #5e2400;
  color: white;
  outline: none;
}

/*# sourceMappingURL=App.css.map */
