
    @media (max-width: 1390px) {
        .welcomePage {
          display: flex;
          flex-direction: column; 
          align-items: center;
          gap: 1em;
        }
        .swiperBooks {
          width: 100%;
        }
        .bookstore-name {
          text-align: center;
        }
       
        #buy-button {
          font-size: 12px;
        }
        .dicount-icon {
          display: flex;
          flex-direction: row;
        }
      
      }
 
@media (max-width: 1200px) {
  .filters-genre-unit {
    flex: 1 calc(33.33% - 10px);
  }
}

/* Для екранів менших за 768px: 2 фільтри в рядку */
@media (max-width: 768px) {
  .filters-genre-unit {
    flex: 1 1 calc(50% - 10px);
  }
}

/* Для мобільних екранів менших за 480px: 1 фільтр в рядку */
@media (max-width: 480px) {
  .filters-genre-unit {
    flex: 1 1 100%;
  }
}