
    @media (max-width: 1390px) {
        .welcomePage {
          display: flex;
          flex-direction: column; 
          align-items: center;
          gap: 1em;
        }
        .swiperBooks {
          width: 100%;
        }
        .bookstore-name {
          text-align: center;
        }
       
        #buy-button {
          font-size: 12px;
        }
        .dicount-icon {
          display: flex;
          flex-direction: row;
        }
      
      }
 
@media (max-width: 500px) {
  .filters-container {
    gap: 1em;
  }

.filters-checkbox-container {
 gap: 3em;
}
}
@media (max-width: 1404px) {
  .img-main-page {
    display: none;
  }
}

@media (max-width: 1200px) {
  .book-details {
    display: flex;
    flex-direction: column  ;
    align-items: center; 
    font-size: 12px;
  }
  footer {
    margin-top: 45em;
  }
  .book-cart{
    padding-top: 17em;
    
  }
  h2,
  .book-details-image,
  .book-title,
  .book-author {
    align-self: center;
    text-align: center;
    justify-self: center;
  }
  .rating-container{
    justify-content: center;
  } 

  .book-details-image {
    position: relative;
  }

  .liked-book {
    position: absolute;
    top: -10em;
    font-size: 24px;
    right: 0;
    margin-top: 1.5em;
    
  }
  .book-card {
    margin-top: 10em;
  }
  .text-info-liked-book {
    font-size: 14px;
   
  }
  .liked-book-item img{
    align-items: center;
    width: 200px;
    height: auto;
    margin: 0;
  }
 

  
}


@media (max-width: 626px) {
  .book-details {
    text-align: center;
    align-self: center;
  }
  .book-cart{
    padding-top: 20em;
    padding-bottom: 15em;
  }
  img{
    margin-top: 1.7em;
  }
  h2,
  .book-details-image,
  .book-title,
  .book-author {
    align-self: center;
    text-align: center;
    justify-self: center;
  }
  
} 
@media (max-width: 1460px) {
  footer {
    margin-top: 65em;
  }
  .form-group input {
    max-width: fit-content;
  }
 
  .container {
    max-width: 500px;
    padding-right: 3em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
 

  .sidebar-container{
    display: none;
  }
  
}
@media (max-width: 822px) {
  .text-info-liked-book{
    width: 10em;
  }
}
@media (min-width: 1300px) {
  .favourite-page {
    width: 800px;
  }
  .remove-book-btn {
    margin-left: 10em;
  }
  
}
